@import url(http://fonts.googleapis.com/css?family=Dosis:600);
.so-widget-sow-headline-sow-headline-9c1f14152862 #sow-headline-container.sow-headline h1 {
  font-family: Dosis;
  font-weight: 600;
  text-align: center;
  color: #333333;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-9c1f14152862 #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-9c1f14152862 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}